<div class="airports-box">
    <div layout="row" layout-xs="column">
        <div flex-xs="grow" flex-gt-xs="45">
            <airport-selector 
                label="$ctrl.inputs.departure.label"
                selected="$ctrl.inputs.departure.selectedAirport.name"
                on-filter-change="$ctrl.handleDepartureFilterChange($event)"
                on-select="$ctrl.handleDepartureAirportSelect($event)"
                options="$ctrl.inputs.departure.options">
            </airport-selector>
        </div>
        
        <div flex-xs="grow" flex-gt-xs="10" >
            <div layout="column"
                 class="swap-wrapper"
                 layout-padding
                 layout-align-gt-xs="center center">
                    <div>
                        <a href="#" class="link" title="Swap locations">
                            <i class="fa fa-exchange exchange"
                               ng-click="$ctrl.handleSwapButtonClick()" 
                               aria-hidden="true"></i>
                        </a>
                    </div>
            </div>
        </div>
        
        <div flex-xs="grow" flex-gt-xs="45">
            <airport-selector
                label="$ctrl.inputs.destination.label"
                selected="$ctrl.inputs.destination.selectedAirport.name"
                on-filter-change="$ctrl.handleDestinationFilterChange($event)"
                on-select="$ctrl.handleDestinationAirportSelect($event)"
                options="$ctrl.inputs.destination.options">
            </airport-selector>
        </div>
    </div>
    </div>
</div>