<div class="airports-box">
    <airport-selector 
        label="$ctrl.inputs.departure.label"
        on-filter-change="$ctrl.handleDepartureFilterChange($event)"
        on-select="$ctrl.handleDepartureAirportSelect($event)"
        options="$ctrl.inputs.departure.options">
    </airport-selector>

    <a href="#" class="link" title="Swap locations">
        <i class="fa fa-exchange exchange" aria-hidden="true"></i>
    </a>
    
    <airport-selector
        label="$ctrl.inputs.destination.label"
        on-filter-change="$ctrl.handleDestinationFilterChange($event)"
        on-select="$ctrl.handleDestinationAirportSelect($event)"
        options="$ctrl.inputs.destination.options">
    </airport-selector>
</div>