.airports-box {
    .exchange {
        color: whitesmoke;
        cursor: pointer;
        outline: none;
    }

    a {
        cursor: default;
    }

    .swap-wrapper {
        padding-top: 40px;
    }
}

