.airports-box {
    display: flex;
    align-items: center;

    .exchange {
        float: left;
        color: whitesmoke;
        cursor: pointer;
        outline: none;
    }

    input {
        padding: 15px;
        border: 0;
        width: 100%;
        margin-top: 3px;
        border-top: 1px solid #296898;
        outline: none;
    }

    input:focus {
        background: lightgray;
    }

    a {
        cursor: default;
        outline: none;
    }
}

