<div class="airports-box">
    <div layout="row">
        <div flex="45">
            <airport-selector 
                label="$ctrl.inputs.departure.label"
                selected="$ctrl.inputs.departure.selectedAirport.name"
                on-filter-change="$ctrl.handleDepartureFilterChange($event)"
                on-select="$ctrl.handleDepartureAirportSelect($event)"
                options="$ctrl.inputs.departure.options">
            </airport-selector>
        </div>
        
        <div flex="10" >
            <div layout="row" layout-align="center center">
                <div class="swap-wrapper">
                    <a href="#" class="link" title="Swap locations">
                        <i 
                            class="fa fa-exchange exchange"
                            ng-click="$ctrl.handleSwapButtonClick()" 
                            aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
        
        <div flex="45">
            <airport-selector
                label="$ctrl.inputs.destination.label"
                selected="$ctrl.inputs.destination.selectedAirport.name"
                on-filter-change="$ctrl.handleDestinationFilterChange($event)"
                on-select="$ctrl.handleDestinationAirportSelect($event)"
                options="$ctrl.inputs.destination.options">
            </airport-selector>
        </div>
    </div>
    </div>
</div>