.airport-selector {
    float: left;
    background: #bcd4e6;
    border: 1px solid #5d5959;
    box-sizing: border-box;
    border-radius: 5px 5px 0 0;
    padding-top: 5px;

    i {
        padding: 0 5px 0 10px;
    }

    label {
        color: black;
    }

    .options {
        position: absolute;
        max-height: 200px;
        overflow-y: auto;
        background: whitesmoke;
        border: 1px solid black;
        width: 220px;
        padding: 3px;
        z-index: 2;
    }
}