<div 
    class="airport-selector" 
    click-outside="$ctrl.handleClickOutside()">
        <i class="fa fa-map-marker" aria-hidden="true"></i>
        <label ng-bind="$ctrl.label"></label>
        <input 
            type="text" 
            ng-model="$ctrl.filterTerm"
            ng-click="$ctrl.handleInputClick()"
            placelholder="departure"
            ng-change="$ctrl.handleInputChange()"/>
        <div 
            class="suggestions" 
            ng-show="$ctrl.showSuggestions">
                <airport 
                    params="suggestion"
                    on-click="$ctrl.handleAirportClick(suggestion)"
                    ng-repeat="suggestion in $ctrl.suggestions">
                </airport>
        </div>
</div>
