<div 
    class="airport-selector" 
    click-outside="$ctrl.handleClickOutside()">
        <div class="label-wrapper">
            <i class="fa fa-map-marker" hide-xs aria-hidden="true"></i>
            <label>{{ $ctrl.label }}:</label>
        </div>
        
        <input 
            type="text" 
            ng-model="$ctrl.selected"
            ng-click="$ctrl.handleInputClick()"
            placeholder="Choose your {{ $ctrl.label  }} Airport"
            ng-keydown="$ctrl.handleKeyDown($event)"
            required
            ng-change="$ctrl.onFilterChange({ $event: { filter: $ctrl.selected } })"/>
        <div 
            class="options" 
            ng-show="$ctrl.showOptions">
                <airport 
                    params="option"
                    on-click="$ctrl.handleOptionClick(option)"
                    ng-repeat="option in $ctrl.options">
                </airport>
        </div>
</div>
