.airport-selector {
    position: relative;

    .label-wrapper {
        box-sizing: border-box;
        background: #bcd4e6;
        border: 1px solid #5d5959;
        border-bottom: 0;
        width: 50%;
        border-radius: 5px 5px 0 0;
        padding: 5px 10px 5px 0;

            i {
                padding: 0 0 0 12px;
                float: left;
            }

            label {
                padding-left: 10px;
                color: #545454;
            }
    }

    input {
        padding: 15px;
        color: #073590;
        font-size: 1.2em;
        font-weight: bold;
        border: 0;
        background: #fafafa;
        width: 100%;
        box-sizing: border-box;
        outline: none;
        border: 1px solid #5d5959;
    }

    input:focus {
        background: rgb(245, 232, 182);
    }

    .options {
        position: absolute;
        width: 100%;
        box-sizing: border-box;
        max-height: 200px;
        overflow-y: auto;
        background: whitesmoke;
        border: 1px solid black;
        padding: 3px;
        z-index: 5;
    }

    *::-webkit-input-placeholder {
        color: #b9b9b9;
        font-size: 0.9em;
    }
    *:-moz-placeholder {
        color: #b9b9b9;
        font-size: 0.9em;
    }
}