<div class="date-wrapper">
  <div layout="row">
    <div flex="45">
      <date-selector 
        placeholder="$ctrl.dates.start.placeholder"
        label="$ctrl.dates.start.label"
        date="$ctrl.dates.start.value"
        on-change="$ctrl.handleStartDateChange($event)">
      </date-selector>
    </div>

    <div flex="45" flex-offset="10">
      <date-selector 
        placeholder="$ctrl.dates.end.placeholder"
        label="$ctrl.dates.end.label"
        date="$ctrl.dates.end.value"
        on-change="$ctrl.handleEndDateChange($event)">
      </date-selector>
    </div>
  </div>
</div>
