<div class="date-wrapper">
  <div class="columns">
    <div class="column is-half">
      <date-selector 
        placeholder="$ctrl.dates.start.placeholder"
        label="$ctrl.dates.start.label"
        date="$ctrl.dates.start.value"
        on-change="$ctrl.handleStartDateChange($event)">
      </date-selector>
    </div>

    <div class="column is-half">
      <date-selector 
        placeholder="$ctrl.dates.end.placeholder"
        label="$ctrl.dates.end.label"
        date="$ctrl.dates.end.value"
        on-change="$ctrl.handleEndDateChange($event)">
      </date-selector>
    </div>
  </div>
</div>
