<div class="date-wrapper">
  <div layout-gt-xs="row" layout-xs="column" layout-align-xs="space-between none">
    <div flex-gt-xs="45" flex-xs="grow">
      <date-selector 
        placeholder="$ctrl.dates.start.placeholder"
        label="$ctrl.dates.start.label"
        date="$ctrl.dates.start.value"
        on-change="$ctrl.handleStartDateChange($event)">
      </date-selector>
    </div>

    <div flex-xs="grow" show-xs>&ensp;</div>

    <div flex-offset-gt-xs="10" flex-gt-xs="45" flex-xs="grow">
      <date-selector 
        placeholder="$ctrl.dates.end.placeholder"
        label="$ctrl.dates.end.label"
        date="$ctrl.dates.end.value"
        on-change="$ctrl.handleEndDateChange($event)">
      </date-selector>
    </div>
  </div>
</div>
