<div class="date-selector">
    <div flex-xs="45">
        <i class="fa fa-calendar calendar" aria-hidden="true"></i>
        <label>{{ $ctrl.label }}</label>
    </div>

    <div flex-xs="grow">
        <div class="date-picker-wrapper">
            <md-datepicker 
                md-open-on-focus="true"
                md-hide-icons="calendar"
                md-min-date="$ctrl.minDate"
                md-max-date="$ctrl.maxDate"
                required
                ng-change="$ctrl.onChange({ $event: { date: $ctrl.date } })"
                ng-model="$ctrl.date">
            </md-datepicker>
        </div>
    </div>
</div>

