.airport {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin: 3px 0 3px 0;
    padding: 5px 0 5px 0;
    border-bottom: 1px solid #eaeaea;
    outline: none;
    border-top: 1px solid transparent;

    .airport-country {
        display: block;
        font-style: italic;
    }

    .airport-icon {
        padding: 0 10px 0 10px;
        color: #6f6f6f;
    }

    .highlighted {
        color: #3c3b3b;
        background: rgb(245, 232, 182);
        font-weight: bold;
    }
}

.airport:hover {
    background: #f1c933;
    border-bottom: 1px solid #969393;
    border-top: 1px solid #969393;
}

.aiport:focus {
    background: lightcoral;
}