.airport {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin: 3px 0 3px 0;
    padding: 5px 0 5px 0;
    border-bottom: 1px solid #eaeaea;
    outline: none;

    .airport-country {
        display: block;
        font-style: italic;
    }

    .airport-icon {
        padding: 0 10px 0 10px;
        color: #6f6f6f;
    }
}

.airport:hover {
    background: lightgray;
}

.aiport:focus {
    background: lightcoral;
}