@import '../../node_modules/angular-material/angular-material.css';

body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #565454;
    background-color: #f4f4f4;
}