<div class="flights-form">
    <div class="columns">
        <div class="column">
            <airports-box on-change="$ctrl.handleAirportsChange($event)"></airports-box>
        </div>
    </div>
    <div class="columns">
        <div class="column">
            <date-wrapper on-change="$ctrl.handleDateChange($event)"></date-wrapper>
        </div>
    </div>
    <div class="column is-6 is-offset-3">
        <button class="primary" ng-click="$ctrl.handleButtonClick()">Find flights</button>
    </div>
</div>